<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body class="body">
  <%- include('../partials/stars&doodles'); %> <%-
    include('../partials/header_'); %> <%-
    include('../partials/nav/navdescription'); %> <%-
    include('../partials/_header'); %>

  <section class="flash"><%- include('../partials/flash'); %></section>

  <main class="main main__flex">
    <h1 class="main__h1">Edit title</h1>
    <form class="editForm"
      action="/list/list<%=currentUser._id%>/page<%=pagenumber%>/title<%=animetitle._id%>?_method=PUT" method="POST"
      enctype="multipart/form-data">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="animetitle[title]" value="<%=animetitle.title%>" required />
      </div>

      <div>
        <label for="year">Year:</label>
        <input type="number" id="year" name="animetitle[year]" value="<%=animetitle.year%>" min="1900" required />
      </div>

      <div class="editForm__load">
        <input class="editForm__load__input" type="file" name="images" id="images" multiple hidden />
        <label for="images" class="editForm__load__label">Add images</label>
        <span class="editForm__files">No file chosen</span>
      </div>

      <div class="editForm__delete_thumbnail">
        <%animetitle.images.forEach(function(img, i){ %>
        <div>
          <img class="editForm__delete_thumbnail__image" src="<%=img.thumbnail_edit %>"
            alt="<%=animetitle.title%> image" />
          <div>
            <input type="checkbox" id="image_<%=i%>" name="deleteImages[]" value="<%=img.filename%>" />
            <label for="image_<%=i%>">Delete</label>
          </div>
        </div>
        <% })%>
      </div>

      <div>
        <label for="description">Description:</label>
        <textarea type="text" id="description" name="animetitle[description]" required>
<%=animetitle.description%></textarea>
      </div>

      <div>
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="animetitle[rating]" value="<%=animetitle.rating%>" min="1" max="5"
          required />
      </div>

      <button class="update_btn btn">Update</button>
    </form>
    <a href="/list/list<%=currentUser._id%>/page<%=pagenumber%>/title<%=animetitle._id%>"><button
        class="back_btn">Back</button></a>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>