<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body class="body">
  <%- include('../partials/stars&doodles'); %> <%-
    include('../partials/header_'); %> <%- include('../partials/nav/navindex');
    %> <%- include('../partials/_header'); %>

  <section class="flash"><%- include('../partials/flash'); %></section>

  <main class="main main__flex">
    <h1 class="main__h1">Register</h1>

    <form class="entreForm" action="/register" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" required />
      </div>

      <div>
        <label for="accountname">Account Name:</label>
        <img class="help_icon" src="/assets/help_icon.svg" />
        <div class="help_icon__information">
          <p>
            Account name will be used as your nickname. And as your list name.
            Example: account_name's list. Maximum 12 characters.
          </p>
        </div>
        <input type="text" id="accountname" name="accountname" maxlength="12" placeholder="account name" required />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="email" required />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" min="3" placeholder="password" required />
      </div>

      <div>
        <label for="password2">Repeat password:</label>
        <input type="password" id="password2" name="password2" min="3" placeholder="repeat password" required />
      </div>

      <button class="submit_btn btn">Register</button>
    </form>
    <a href="/"><button class="back_btn">Back</button></a>
  </main>
  <%- include('../partials/footer'); %>
  <script src="/script/validation.js"></script>
</body>

</html>